page-complain-registration-three {
    .no-pad-col{
        padding-left: none;
        padding-right: none;
    }
    .custom-label{
        margin-top: 20px;
        line-height: 2rem;
    }
}
