page-complain-registration-two {

    .no-pad-col{
        padding-left: none;
        padding-right: none;
    }
    .custom-label{
        margin-top: 20px;
        line-height: 2rem;
    }

    .indented-item{
        padding-left: 24px;
    }
}
