page-complain-registration {
    .no-pad-col{
        padding-left: none;
        padding-right: none;
    }
    .custom-label{
        margin-top: 20px;
        line-height: 2rem;
    }
    /* .photo{
        -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.75);
        width:50%;
        border: 1px solid;
        border-color: #d9d9d9;
    } */
}
