page-docket-modal {
    .generic-msg{
        font-size: 1.5rem;
    }

    .docket-txt{
        font-size: 3.5rem;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .no-pad-col{
        padding-left: none;
        padding-right: none;
    }
    .custom-label{
        margin-top: 20px;
        line-height: 2rem;
    }
    
    
     
    
}
