page-other-info {

    .off-white-item{
        background-color: #f3f8f6!important;
    }

    .white-item{
        background-color: #ffffff!important;
    }

    .dept{
        font-weight: bold;
    }
    .phone{
        color: #2e3ed0;
    }
}
